#div1{
    background-color: red;
}
#div2{
    background-color: yellow;
    float: left;
    width: 200px;
    height: 200px;
}
#div3{
    background-color: blue;
    float: left;
    width: 220px;
    height: 220px;
}
#clearDiv::after{
    content: "";
    visibility: hidden;
    height: 0px;
    display: block;
    clear: both;
}
#div4{
    background-color: black;
    width: 240px;
    height: 240px;
}